<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCj1x-89G1OXtWcpgziIAyTsnKjibpgd6g</string>
	<key>GCM_SENDER_ID</key>
	<string>327696741252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kpssAgs2026</string>
	<key>PROJECT_ID</key>
	<string>kpss-ags-son</string>
	<key>STORAGE_BUCKET</key>
	<string>kpss-ags-son.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327696741252:ios:1fe26acaeb4d2b141fa3d1</string>
</dict>
</plist>